.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
  }
  /* Form header */
  .form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  /* Form title */
  .form-header h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
  /* Form navigation buttons */
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width:400px;
  }
  .button {
    background-color: #0077C2;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  .button:hover {
    background-color: #005CA3;
  }
  .button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
  .prev-hide {
    display: none;
  }
  .next-hide {
    display: none;
  }
  .submit-hide {
    display: none;
  }