.side-nav-container {
    background-color: #061B28;
    width: 180px;
    height: 100vh;
    position: relative;
    color: white;
    transition: 0.4s;
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .side-nav-container-nx{
    width: 65px;
  }
  .nav-upper,
  .nav-heading,
  .nav-menu,
  .menu-Item {
    display: grid;
  }
  .nav-brand {
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: 1fr;
    height: 45px;
  }
  .nav-brand {
    display: flex;
  }
  .nav-brand img {
    top: 12px;
   
    position: relative;
  }
  .nav-brand h2 {
    top: 10px;
    position: relative;
    font-size: 145%;
    left: 15px;
  }
  .hamburger {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin: auto -35px;
    background-color: #55717E;
    border: 2px solid #ffff;
    padding: 14px;
    border-radius: 90px;
    height: 61px;
    width: 61px;
  }
  .hamburger span {
    display: block;
    margin-top: 5px;
    background-color: #ffff;
    border-radius: 15px;
    height: 4px;
    width: 30px;
    transition: 0.4s;
  }
  .hamburger-in:hover span:nth-child(1){
    width: 28px;
    transform: translate(-8px,9px) rotate(90deg);
  }
  .hamburger-in:hover span:nth-child(2){
    /* display: none; */
    width: 28px;
    transform: translate(0px,-0px) rotate(-90deg);
  }
  .hamburger-in:hover span:nth-child(3){
    width: 28px;
    transform: translate(8px,-9px) rotate(-90deg);
  }
  .hamburger-out:hover span:nth-child(1){
    width: 28px;
    transform: translate(0px,9px) rotate(0deg);
  }
  .hamburger-out:hover span:nth-child(2){
    /* display: none; */
    width: 28px;
    transform: translate(0px,-0px) rotate(-90deg);
  }
  .hamburger-out:hover span:nth-child(3){
    width: 28px;
    transform: translate(0px,-9px) rotate(0deg);
  }
  .nav-menu{
    grid-template-rows: repeat(7,1fr);
    margin-top: 70px;
  }
  .menu-Item{
    height: 37px;
    /* width: 16em; */
    display: flex;
    color: #04E5A7;
    /* color: #ffff; */
    text-decoration: none;
    text-transform: uppercase;
    margin: auto 15px;
    margin-top: 25px;
    border-radius: 10px;
    position: relative;
  }
  .menu-Item p{
    position: relative;
  left: 20px;
  margin-top: 8px;
  /* transition: 0.4s; */
  }
  .menu-Item:hover{
    background-color:#04e5a534 ;
   
  }